@{
    ViewData["Title"] = "Confirmação apagar produtos";
}

<div class="text-center">
    <h3>Realmnente deseja apagar o produto?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Ont" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" btn-block role="button" asp-controller="Ont" asp-action="Apagar">Confirmar exclusão</a>