@{
    ViewData["Title"] = "Confirmação apagar produtos";
}

<div class="text-center">
    <h3>Realmnente deseja apagar o produto?</h3>
</div>

<a class="btn btn-primary" role="button">Cancelar exclusão</a>
<a class="btn btn-danger" btn-block role="button">Vonfirmar exclusão</a>