@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para cessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Click aqui para voltar a página inicial.</a></p>
