@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Raleway:wght@300&display=swap');

body {
}

.Titulo_ont {
    color: #FF4500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'Times New Roman', Times, serif;
}

.card {
    border: #FF4500 solid 1px;
    border-radius:5px;
}

.nome {
    color: #FF4500;
}

.Titulo_detalhes {
    color: #191970;
}

.central-Detalhes{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fundo_detalhes {
    display: flex;
    width: 40%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #696969;
    font-size: 1.5rem;
    color: #191970;
    border: solid 5px;
    border-radius: 15px;
}